<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <head>
    <base target="_blank">
  </head>
  <link rel="stylesheet" type="text/css" href="https://hintryer.github.io/style/style.css">
  <!--Copy code-延迟执行，直到整个页面都加载完成 -->
  <script defer src="https://hintryer.github.io/style/copy.js"></script>
  <!--/Copy code-->
  <script src="https://cdn.staticfile.net/jquery/2.2.4/jquery.min.js"></script>
  <title>
    {{ page.title }}
  </title>
</head>
<body>
  <div id="page-body">
    <div id="page-left-aside">

      <div id="catalogs">   
	      <div class="page-body-module-title">文章目录</div>
	      <div class="page-body-module-content">
			</div>
      </div>
    </div>
    <div id="content">
      {{ content }}
    </div>
    <div id="page-right-aside"> 右</div>
  </div>
  <script>
//根据文章内容自动生成文章目录
for (let heading of $('h1,h2,h3,h4,h5,h6')) {
	const headingLevel = heading.tagName.toLowerCase();
	const $heading = $(heading);
	const headingName = $heading.text().trim();
	console.log(headingLevel, headingName);
	//点击目录跳转到对应章节
  const anchorName = $heading.attr('id');
  $('#catalogs').append(
      `
      <div class="catalog catalog-${headingLevel}" name="${anchorName}">
          <a href="#${anchorName}">${headingName}</a>
      </div>
      `
  );
}
const catalogTrack = () => {
	//目录自动切换到当前阅读的章节
	let $currentHeading = $('h1');
	for (let heading of $('h1,h2,h3,h4,h5,h6')) {
		const $heading = $(heading);
		if ($heading.offset().top - $(document).scrollTop() > 20) {
			break;
		}
		$currentHeading = $heading;
	}
	const anchorName = $currentHeading.attr('id');
	const $catalog = $(`.catalog[name="${anchorName}"]`);
	if (!$catalog.hasClass('catalog-active')) {
		$('.catalog-active').removeClass('catalog-active');
		$catalog.addClass('catalog-active');
	}
	//目录跟随文章内容滚动
	if ($catalog.length > 0) {
		$('#catalogs').scrollTop($catalog[0].offsetTop - 50);
	} else {
		$('#catalogs').scrollTop(0);
	}
};
$(window).scroll(catalogTrack);
  </script>
</body>
</html>
