<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <head>
    <base target="_blank">
  </head>
  <link rel="stylesheet" type="text/css" href="https://hintryer.github.io/style/style.css">
  <!--Copy code-延迟执行，直到整个页面都加载完成 -->
  <script defer src="https://hintryer.github.io/style/copy.js"></script>
    <script src="https://hintryer.github.io/style/toc.js"></script>
  <!--/Copy code-->
  <script src="https://cdn.staticfile.net/jquery/2.2.4/jquery.min.js"></script>
  <title>
    {{ page.title }}
  </title>
</head>
<body>
  <div id="page-body">
    <div id="page-left-aside">
        <div class="page-body-module-title">文章目录</div>
        <div class="toc">
    </div>
    </div>
    <div id="content">
      {{ content }}
    </div>
    <div id="page-right-aside"> 右</div>
  </div>
  <script>

  </script>
</body>
</html>
