<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <head>
    <base target="_blank">
  </head>
  <link rel="stylesheet" type="text/css" href="https://hintryer.github.io/style/style.css">
  <!--Copy code-延迟执行，直到整个页面都加载完成 -->
  <script defer src="https://hintryer.github.io/style/copy.js"></script>
  <!--/Copy code-->
  <script src="https://cdn.staticfile.net/jquery/2.2.4/jquery.min.js"></script>
  <title>
    {{ page.title }}
  </title>
</head>
<body>
  <div id="page-body">
    <div id="page-left-aside">
        <div class="page-body-module-title">文章目录</div>
      <div id="catalogs">   </div>
    </div>
    <div id="content">
      {{ content }}
    </div>
    <div id="page-right-aside"> 右</div>
  </div>
  <script>
   // 创建目录项
$('h1,h2,h3,h4,h5,h6').each(function() {
    const $this = $(this);
    const headingLevel = this.tagName.toLowerCase();
    const headingName = $this.text().trim();
    const anchorName = $this.attr('id');

    $('#catalogs').append(`
        <div class="catalog catalog-${headingLevel}" id="${anchorName}">
            <a href="#${anchorName}">${headingName}</a>
        </div>
    `);
});

// 滚动事件监听和标题追踪
const catalogTrack = () => {
	let $currentHeading = $('h1');
	for (let heading of $('h1,h2,h3,h4,h5,h6')) {
		const $heading = $(heading);
		if ($heading.offset().top - $(document).scrollTop() > 20) {
			break;
		}
		$currentHeading = $heading;
	}
};
const anchorName = $currentHeading.attr('id');
const $catalog = $(`.catalog[name="${anchorName}"]`);
if (!$catalog.hasClass('catalog-active')) {
	$('.catalog-active').removeClass('catalog-active');
	$catalog.addClass('catalog-active');
}
if ($catalog.length > 0) {
	$('#catalogs').scrollTop($catalog[0].offsetTop - 50);
} else {
	$('#catalogs').scrollTop(0);
}
  </script>
</body>
</html>
